@page
@model AuthorsModel
@{
    ViewData["Title"] = "Authors";
}
<h1>@ViewData["Title"]</h1>

<p>All library authors are displayed here.</p>

<div class="btn-container">
    <a asp-page="./Authors/CreateAuthor" class="btn btn-primary">Create new author</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Book count
            </th>
            <th>
                Books
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Authors)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCount)
            </td>
            <td>
                @foreach (var book in item.BookTitles)
                {
                    <p>@book</p>
                }
            </td>
            <td>
                <a asp-page="./Authors/EditAuthor" class="btn" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                <form asp-page-handler="delete" asp-route-id="@item.Id" method="post">
                    <button class="btn">Delete</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
