@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>All active library records are displayed here.</p>



<div class="btn-container">
    <a asp-page="./LibraryRecords/CreateLibraryRecord" class="btn btn-primary">Create new library record</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Books
            </th>
            <th>
                ReturnDate
            </th>
            <th>
                IsExpired
            </th>
            <th>ReturnFine</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Records)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Amount
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in item.Books)
                            {
                                <tr>
                                    <td>@book.title </td>
                                    <td> @book.amount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsExpired)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnFine)
                </td>
                <td>
                <td>

                    @if (item.ShowReturnBooksButton)
                    {
                        <a asp-page="./LibraryRecords/ReturnBooks" class="btn" asp-route-id="@item.Id">Return books</a>
                    }
                    else
                    {
                        <a class="btn isDisabled">Return books</a>
                    }
                </td>
                <td>
                    <form asp-page-handler="pay" asp-route-id="@item.Id" method="post">
                        <button class="btn" disabled="@item.ShowReturnFineButton">Pay fine</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>